[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd WebUI && npm install --legacy-peer-deps"]

[phases.build]
cmds = ["cd WebUI && npm run build"]

[start]
cmd = "cd WebUI && npm start"

